*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  height: 100%;

  @media (min-width: 1981px) {
    font-size: 80%;
  }
}

body {
  height: auto;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  background: none;
  cursor: pointer;
  border: 0;
  transition: 180ms ease-in-out;
}

button {
  cursor: pointer;
  border: 0;
}

body,
#root {
  background: $default;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 700;
}
